h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

li {
  margin-bottom: 8px;
}

.container {
  max-width: 1024px;
  margin: 64px auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  background: url(https://img.wallpapersafari.com/desktop/1024/576/75/50/PhxoiF.jpg);
  background-size: cover;
  color: #fff;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.personal-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.2rem;
}

.summary {
  flex-basis: 60%;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contact-list {
  padding-left: 22px;
  margin-top: 0;
}